{% extends 'base.html' %}

{% block title %}
Тестовый проект
{% endblock %}

{% block body %}
<h1 style="width: 900px; text-align: center;">Описание проекта</h1>
<p style="font-size: 18px; width: 900px; text-align: center;">В базе хранится информация о сервисах и их состояниях -
    сервис может быть работающим, неработающим, либо может работать, но нестабильно.<br>
    <label style="font-size: 12px">*Время отображается по Гринвичу</label></p>
<div style="width: 400px; float: left; text-align: center;">
    <h3>Сайт</h3>
    <p>С помощью меню в левой части экрана возможно:</p>
    <ul>
        <li>Посмотреть список действующих сервисов и их текущие состояния</li>
        <li>Посмотреть историю изменений состояний по интересующему сервису</li>
        <li>Рассчитать SLA по интересующему сервису и время его недоступности за заданный период</li>
        <li>Добавить информацию о работе сервисов</li>
    </ul>
</div>
<div style="width: 550px; height:200px; float: left; margin-left: 80px; text-align:center;">
    <h3 style="text-align: center;">API</h3>
    <ul>
        <li>POST-запрос по пути <i>'/add_info/api'</i> добавляет информацию в БД. Поля запроса:
            <ol style="text-align: left;">
                <li><b>"service"</b>:"Название существующего или нового сервиса"</li>
                <li><b>"state"</b>:"(Работает / Не работает / Работает нестабильно)"</li>
                <li><b>"description"</b>:"Любая информация"</li>
            </ol>
        </li>
        <li>GET-запрос по пути <i>'/services/api'</i> возвращает список отслеживаемых сервисов с их текущими состояниями
        </li>
        <li>POST-запрос по пути <i>'/state_history/api'</i> возвращает историю изменения состояний по сервису. <br>
            Поле запроса: <b>"service"</b>:"Название существующего сервиса"
        </li>
        <li>POST-запрос по пути <i>'/sla/api'</i> возвращает показатель SLA и время, которое сервис не работал в
            заданном интервале. Поля запроса:
            <ol style="text-align: left;">
                <li><b>"service"</b>:"Название существующего сервиса"</li>
                <li><b>"start"</b>:"Дата и время в формате %Y-%m-%d %H:%M"</li>
                <li><b>"end"</b>:"Дата и время в формате %Y-%m-%d %H:%M"</li>
            </ol>
        </li>
    </ul>
</div>
{% endblock %}
