{% extends 'base.html' %}

{% block title %}
Список сервисов
{% endblock %}

{% block body %}
<h1>Список сервисов</h1><br>
<table style="width: 500px;">
    <tr>
        <th style="width: 100px;">id</th>
        <th style="width: 200px;">Сервис</th>
        <th style="width: 200px;">Состояние</th>
    </tr>
    {% for s in services %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        {% if s.state == 'Работает'%}
        <td style="color: green;">Работает</td>
        {% elif s.state == 'Не работает'%}
        <td style="color: red;">Не работает</td>
        {% elif s.state == 'Работает нестабильно' %}
        <td style="color: orange;">Работает нестабильно</td>
        {% else %}
        <td>{{ s.state }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table><br>
<form action="/add_info" style="text-align:center; width: 450px;">
    <button type="submit" class="btn btn-secondary">Внести корректировки</button>
</form>
{% endblock %}